<section id="about-me" class="about-section">
  <div class="about-container container">
    <h2 class="about-title visually-hidden">About me</h2>
    <div class="about-first-wrapper">
      <div class="about-me">
        <p class="about-me-text">
          21 Dance Studio is a unique women’s space where everyone can express
          their individuality, feel the freedom of movement, and fill their life
          with vibrant emotions. We’ve created a studio where every woman,
          regardless of experience or age, feels confident and comfortable.
          Here, you’ll find an atmosphere of support, inspiration, and ease,
          where dance becomes not just an art form but a way to find harmony
          within yourself.
          <span class="about-me-text-decor"></span>
          <span class="about-me-text-second-decor"></span>
        </p>
      </div>
      <div class="about-photo">
        <picture class="about-picture">
          <source
            srcset="
              ./images/about_me_img/about-desk-me4.jpg   1x,
              ./images/about_me_img/about-me-desk-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/about_me_img/about-tab-me4.jpg   1x,
              ./images/about_me_img/about-me-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/about_me_img/about-mob-me4.jpg    1x,
              ./images/about_me_img/mob-about-img-2x.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./images/about_me_img/mob-about-me-img.png"
            alt="Lloyd Jefferson photo"
          />
        </picture>
      </div>
    </div>
    <ul class="about-info-list">
      <li class="info-item">
        <h3 class="info-item-title">
          <button type="button" class="info-item-btn">
            About me
            <span class="info-icon-wrapper">
              <svg class="info-icon" width="12" height="12">
                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="info-item-panel">
          <p class="info-item-text info-item-summery-text">
            Марина — главный тренер и создатель 21 Dance Studio Марина — опытный
            хореограф и вдохновитель танцевальной команды. Она поставила более
            300 хореографий и не собирается останавливаться, постоянно развивая
            и совершенствуя свои программы. Её уникальная методика обучения
            танцам позволяет каждому ученику раскрыть свой потенциал, независимо
            от уровня подготовки.
          </p>
          <p class="info-item-text">
            С Мариной танец становится не просто искусством, а способом выразить
            себя, найти гармонию и обрести уверенность. Она влюбляет в танцы с
            первой тренировки, создавая атмосферу, в которой хочется развиваться
            и двигаться вперёд. Марина — не только тренер, но и настоящий
            мотиватор, который помогает каждому найти свою страсть и
            наслаждаться каждым движением на пути к успеху.
          </p>
        </div>
        <hr class="info-items-divider" />
      </li>
      <li class="info-item">
        <h3 class="info-item-title">
          <button class="info-item-btn">
            Assistants<span class="info-icon-wrapper">
              <svg class="info-icon" width="12" height="12">
                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="info-item-panel">
          <p class="info-item-text info-item-role-text">
            София — тренер 21 Dance Studio
          </p>
          <p class="info-item-text info-item-role-text">
            София — ваш надежный помощник на пути к совершенству. Она помогает
            каждому стать лучшей версией себя, работая над техниками и
            уверенность в каждом движении. София всегда рядом, чтобы поддержать
            и направить, чтобы ваши тренировки были максимально результативными
            и вдохновляющими. С её вниманием к деталям и индивидуальному
            подходу, вы сможете раскрыть свой потенциал, преодолеть любые
            сложности и достигнуть своих целей. София верит в каждого ученика и
            всегда готова быть рядом, чтобы помочь вам справиться с любыми
            трудностями и добиться успеха.
          </p>
        </div>
        <hr class="info-items-divider" />
      </li>
      <li class="info-item">
        <h3 class="info-item-title">
          <button class="info-item-btn">
            Education<span class="info-icon-wrapper">
              <svg class="info-icon" width="12" height="12">
                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
              </svg>
            </span>
          </button>
        </h3>

        <div class="info-item-panel">
          <p class="info-item-text info-item-education-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
          <p class="info-item-text info-item-education-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
          <p class="info-item-text info-item-education-text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
        <hr class="info-items-divider" />
      </li>
    </ul>
    <!-- <div class="tec">
      <div class="swiper tec-swiper-container">
        <ul class="swiper-wrapper tec-list">
          <li class="swiper-slide tec-item">HTML/CSS</li>
          <li class="swiper-slide tec-item">JavaScript</li>
          <li class="swiper-slide tec-item">React</li>
          <li class="swiper-slide tec-item">Node.js</li>
          <li class="swiper-slide tec-item">React Native</li>
          <li class="swiper-slide tec-item">Soft skills</li>
          <li class="swiper-slide tec-item">Languages</li>
        </ul>
      </div>
      <div class="tec-navigation">
        <button class="about-button-next" type="button">
          <svg class="tec-swipe-icon" width="28" height="28">
            <use href="./images/icons/icons.svg#icon-arrow-narrow-right1"></use>
          </svg>
        </button>
      </div>
    </div> -->
  </div>
</section>
