<section class="faq-section" id="our-program">
  <div class="container faq-container">
    <h2 class="faq-header">Our-program</h2>
    <ul class="accordion-container">
      <li class="ac">
        <button class="ac-trigger">
          Сальса в 21 Dance Studio
          <span class="icon-wrapper">
            <svg class="icon" width="20" height="20">
              <use href="./images/FAQ_img/faq-icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <p class="ac-text">
            Сальса — это взрыв энергии и эмоций, танец свободы и удовольствия.
            Легкие и ритмичные движения сальсы позволяют почувствовать музыку
            всем телом, раскрыть свою женственность и уверенность. На занятиях
            мы учим не только технике, но и умению импровизировать, выражая себя
            через танец. Сальса — это возможность наслаждаться моментом,
            отпустить напряжение и зарядиться позитивом.
          </p>
        </div>
      </li>

      <li class="ac">
        <button class="ac-trigger">
          Бачата в 21 Dance Studio
          <span class="icon-wrapper">
            <svg class="icon" width="20" height="20">
              <use href="./images/FAQ_img/faq-icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <p class="ac-text">
            Бачата — это чувственный и романтичный танец родом из Доминиканы.
            Его плавные движения и мягкие ритмы создают особую атмосферу. Бачата
            учит чувствовать себя грациозно, нежно и женственно, наполняя танец
            эмоциями и выразительностью. В 21 Dance Studio мы помогаем каждой
            раскрыть себя, находя баланс между музыкой, движением и своими
            чувствами.
          </p>
        </div>
      </li>

      <li class="ac">
        <button class="ac-trigger">
          Латиноамериканская программа в 21 Dance Studio
          <span class="icon-wrapper">
            <svg class="icon" width="20" height="20">
              <use href="./images/FAQ_img/faq-icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <p class="ac-text">
            Латиноамериканские танцы — это энергия, страсть и бесконечное
            удовольствие от движения. Наша программа объединяет самые яркие и
            зажигательные танцы, которые помогут раскрыть грациозность,
            уверенность и женственность.
          </p>
        </div>
      </li>

      <li class="ac li-4">
        <button class="ac-trigger">
          Аргентинское танго в 21 Dance Studio
          <span class="icon-wrapper">
            <svg class="icon" width="20" height="20">
              <use href="./images/FAQ_img/faq-icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <p class="ac-text">
            Аргентинское танго — это танец страсти, глубоких эмоций и тонкого
            взаимодействия партнеров. Его плавные шаги, паузы и неожиданные
            акценты создают особую магию, в которой важно доверие и чувствование
            друг друга.
          </p>
        </div>
      </li>

      <li class="ac">
        <button class="ac-trigger">
          Растяжка в 21 Dance Studio
          <span class="icon-wrapper">
            <svg class="icon" width="20" height="20">
              <use href="./images/FAQ_img/faq-icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <p class="ac-text">
            Растяжка — это не только важная часть тренировки, но и ключ к
            гибкости, здоровью и гармонии тела. В нашем направлении мы работаем
            над развитием гибкости, укреплением мышц и улучшением осанки, что
            помогает не только в танцах, но и в повседневной жизни. Занятия по
            растяжке помогут вам улучшить подвижность суставов, уменьшить
            напряжение в мышцах и повысить общую физическую форму. Мы учим
            правильно растягиваться, избегая травм, и создаем комфортные условия
            для каждого уровня подготовки.
          </p>
        </div>
      </li>

      <li class="ac">
        <button class="ac-trigger">
          Виды латиноамериканских танцев
          <span class="icon-wrapper">
            <svg class="icon" width="20" height="20">
              <use href="./images/FAQ_img/faq-icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <p class="ac-text">
            1. Самба — бразильский карнавал в каждом шаге. Ритмичный и
            динамичный танец, который заряжает невероятной энергией и учит
            легкости движений. 2. Ча-ча-ча — кокетливый и игривый танец с четким
            ритмом. Это идеальный способ выразить себя и получить удовольствие
            от танца. 3. Румба — танец любви и нежности. Плавные, чувственные
            движения помогают раскрыть грацию и эмоциональность. 4. Пасодобль —
            испанская страсть и драматизм. Этот танец сочетает мощь и
            уверенность, подчеркивая силу характера и экспрессивность. 5. Джайв
            — быстрый, энергичный и веселый танец, который придаст легкость и
            наполнит жизнь позитивом.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
