<section class="hero" id="hero">
  <div class="content-wrapper">
    <div class="">
      <h1 class="hero-header">
        Welcome to 21 Dance Studio! A place where dance comes alive and people
        rediscover themselves.
        <!-- <br /> -->
      </h1>
      <ul class="social-media">
        <li>
          <a
            class="smi social-media-item1"
            href="https://www.instagram.com/marinabradul/"
            target="blank_"
            >IG</a
          >
        </li>
        <li>
          <a
            class="smi social-media-item2"
            href="https://www.facebook.com/goITclub/"
            target="blank_"
            >FB</a
          >
        </li>
        <li>
          <a
            class="smi social-media-item3"
            href="https://www.youtube.com/c/GoIT"
            target="blank_"
            >TG</a
          >
        </li>
        <li>
          <a
            class="smi social-media-item5"
            href="mailto:maryna.bradul@gmail.com"
            target="blank_"
            >maryna.bradul@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
